title {color: rgb(192, 4, 4);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(61, 24, 194);
    text-align: center;
}

@media (min-width:600px) {h1
     {font-family: 'Times New Roman', Times, serif;
    color: red;

} }
img {
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}
h2 {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(215, 222, 228);
    text-decoration: underline;
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:green;
}
}
p {
    color: rgb(211, 211, 42);
}
div {
    margin: 10px;
    border: solid 2px black;
    min-height: 600px;
    min-width: 600px;
}

.a {
    position: relative;
    border: 50px;
    color: black;
}
.b {
    position: relative;
    border: 50px;
    color: black;
}
.c {
    position: relative;
    border: 50px;
    color: black;
}